node_modules
dist
downloads/*.mp4
downloads/**/*.mp4
downloads/*.mkv
downloads/**/*.mkv
!downloads/.gitkeep
!downloads/**/.gitkeep
.electron
.env
local_content/videos/*.mp4
local_content/videos/**/*.mp4
!local_content/videos/.gitkeep
!local_content/videos/**/.gitkeep
.DS_Store
*.log
coverage
.opencode
query
