PORT=4000
FRONTEND_URL=http://localhost:5173
ANILIST_API=https://graphql.anilist.co
DOWNLOAD_DIR=../downloads
LOCAL_CONTENT_DIR=../local_content
APPROVED_DOWNLOAD_HOSTS=sample-videos.com,commondatastorage.googleapis.com,localhost
